#pt-28 lg:pt-48 sm:pb-10 pb-6{
  background-color: #474747;
}

/* Footer Styles */
#footer{
    margin-top: 15px;
    background: #FFF8C9;
    padding: 0 0 30px 0;
    color: #e79b04;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
  }
  
  #footer .footer-newsletter {
    padding: 0px 0;
    background: #F6FDC3;
  }
  
  #footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
  }
  
  #footer .footer-newsletter form {
    margin-top: 10px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
  }
  
  #footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 8px;
    width: calc(100% - 140px);
  }
  
  #footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 30px;
    margin: 3px;
    background: #e96b56;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
  }
  
  #footer .footer-newsletter form input[type="submit"]:hover {
    background: #e6573f;
  }
  
  /* Footer Top Section */
  #footer .footer-top {
    background: #3b3b3b;
    border-top: 1px solid #474747;
    border-bottom: 1px solid #474747;
    /* padding: 0px 0 0px 0; */
  }
  
  /* #footer .footer-top .footer-info {
    margin-bottom: 0px;
  } */
  
  #footer .footer-top .footer-info h3 {
    font-size: 18px;
    /* margin: 0 0 20px 0;
    padding: 2px 0 2px 0; */
    line-height: 0.5;
    font-weight: 700;
  }
  
/* Footer Top Section */
#footer .footer-top {
    background: #F5E8B7;
    border-top: 0px solid #474747;
    border-bottom: 1px solid #474747;
    padding: 10px 0 0px 0;
  }
  
  /* #footer .footer-top .footer-info {
    margin-bottom: 30px;
  } */
  
  #footer .footer-top .footer-info h3 {
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #ec8156;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #545454;
    color: #e68b8b;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #c83015;
    color: #dce361;
    text-decoration: none;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #e6b105;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 0px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #e9f194;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #577900;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #e9e956;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 10px;
  }
  
  #footer .footer-top .footer-contact p {
    line-height: 26px;
  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 3px;
  }
  
  #footer .credits {
    padding-top: 0px;
    text-align: center;
    font-size: 13px;
    color: #161414;
  }
    